- fuda_page.each do |fuda|
  .row
    .span5.fuda
      .row
        .pull-right
          %h4= yamafuda.name
      .row
        .span1 &nbsp;
      .row
        .text-center
          .front= simple_format fuda.front
          -# .radicals= fuda.kanji.flat_map(&:radicals).map(&:literal).join(' ')
      .row
        .pull-right Front

    .span5.fuda
      .row
        .pull-right
          %h4= yamafuda.name
      .row
        .span1 &nbsp;
      .row
        .text-center
          .back= simple_format fuda.back
      .row
        .pull-right Back
